html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  position: relative;

  /* this height seems perfect */
  min-height: 15em;
}

.robot {
  width: 320px;
  min-height: 15em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.robot-body {
  width: 320px;
  position: absolute;
  left: 50%;
  top: 3.5em;
  transform: translateX(-50%);
  z-index: 1;

}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 10em;
  top: 5em;
  z-index: 2;
}

.robot-head-right {
  width: 125px;
  position: absolute;
  left: 9.9em;
  top: 1.1em;
  z-index: 3;
}

.robot-head-left {
  width: 125px;
  position: absolute;
  left: 2.1em;
  top: 1.1em;
  z-index: 3;
}

.robot:hover {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.robot:hover .robot-brain {
  position: absolute;
  left: 8.5em;
  top: 2.5em;
  z-index: 2;
}

.robot:hover .robot-head-right {
  position: absolute;
  left: 12em;
  top: 1em;
}

.robot:hover .robot-head-left {
  position: absolute;
  left: .2em;
  top: 1em;
}
